<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>

    <% if(navLog) {%>

  <nav class="flex items-center py-3 px-10 lg:justify-between bg-green-200">
    <div class="left flex items-center gap-10">
        <a href="">
          <div class="logo"><svg aria-hidden="true" aria-label="" class="g_1 gUZ U9O kVc text-[#E60023] fill-current" height="24" role="img" viewBox="0 0 24 24" width="24"><path d="M7.55 23.12c-.15-1.36-.04-2.67.25-3.93L9 14.02a7 7 0 0 1-.34-2.07c0-1.68.8-2.88 2.08-2.88.88 0 1.53.62 1.53 1.8q0 .57-.22 1.28l-.53 1.73q-.15.5-.15.91c0 1.2.92 1.88 2.09 1.88 2.08 0 3.57-2.16 3.57-4.96 0-3.12-2.04-5.11-5.06-5.11-3.36 0-5.49 2.19-5.49 5.23 0 1.23.38 2.37 1.11 3.15-.24.4-.5.48-.88.48-1.2 0-2.34-1.7-2.34-4 0-3.99 3.2-7.16 7.68-7.16 4.7 0 7.66 3.28 7.66 7.33 0 4.07-2.88 7.13-5.98 7.13a3.8 3.8 0 0 1-3.07-1.47l-.61 2.5c-.33 1.28-.83 2.5-1.62 3.67A12 12 0 0 0 24 11.99 12 12 0 1 0 7.55 23.12"></path></svg></div>
        </a>
        <a href="" class="font-medium capitalize">home</a>
        <a href="" class="font-medium capitalize">Explore</a>
        <a href="/postCreate" class="font-medium capitalize">Create</a>
    </div>
    <div class="center lg:bg-[#E9E9E9] lg:hover:bg-[#dadada] cursor-pointer lg:py-2 px-5 w-0 lg:min-w-[60%] rounded-3xl">
        <div class="search flex items-center gap-5">
            <div class="search-icon"><svg aria-label="Search icon" class="BNH gUZ U9O kVc text-[#767676] fill-current" height="16" role="img" viewBox="0 0 24 24" width="16"><path d="M10 16a6 6 0 1 1 .01-12.01A6 6 0 0 1 10 16m13.12 2.88-4.26-4.26a10 10 0 1 0-4.24 4.24l4.26 4.26a3 3 0 1 0 4.24-4.24"></path></svg></div>
            <input type="text" placeholder="Search" class="w-full outline-none bg-transparent p-2">
        </div>
    </div>
    <div class="right flex items-center gap-3">
        <div class="noti hover:bg-[#E9E9E9] p-3 rounded-full"><svg aria-hidden="true" aria-label="" class="BNH gUZ U9O kVc text-[#767676] fill-current" height="24" role="img" viewBox="0 0 24 24" width="24"><path d="M19 7v6.17A10 10 0 0 1 22 19H2a10 10 0 0 1 3-5.83V7a7 7 0 1 1 14 0m-4 14a3 3 0 1 1-6 0z"></path></svg></div>
        <div class="messege hover:bg-[#E9E9E9] p-3 rounded-full"><svg aria-hidden="true" aria-label="" class="Hn_ BNH gUZ U9O kVc text-[#767676] fill-current" height="24" role="img" viewBox="0 0 24 24" width="24"><path d="M18 12.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m-6 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m-6-3a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3M12 0a11 11 0 0 0-8.52 17.95l-1.46 5.43a.5.5 0 0 0 .73.55l5.08-2.75A10.98 10.98 0 0 0 23 11 11 11 0 0 0 12 0"></path></svg></div>
        <a href="#" class="hover:bg-[#E9E9E9] p-3 rounded-full"><div class="round bg-[#dadada] px-2 rounded-full"><h6>s</h6></div></a>
        <div class="arrow hover:bg-[#E9E9E9] p-1 rounded-full"><svg aria-hidden="true" aria-label="" class="BNH gUZ U9O kVc text-[#767676] fill-current" height="12" role="img" viewBox="0 0 24 24" width="12"><path d="M20.16 6.65 12 14.71 3.84 6.65a2.27 2.27 0 0 0-3.18 0 2.2 2.2 0 0 0 0 3.15L12 21 23.34 9.8a2.2 2.2 0 0 0 0-3.15 2.26 2.26 0 0 0-3.18 0"></path></svg></div>
    </div>
</nav>
<% } %>

<% if(nav) {%>
<nav class="wnolog w-full flex items-center justify-between p-7 fixed top-0 z-30 bg-white">
  <div class="left flex items-center gap-4">
    <div class="logo">
      <a href="" class="flex items-center justify-center gap-2">
        <div class="logo-icon"><svg aria-hidden="true" aria-label="" class="g_1 gUZ U9O kVc text-[#E60023] fill-current" height="30" role="img" viewBox="0 0 24 24" width="30"><path d="M7.55 23.12c-.15-1.36-.04-2.67.25-3.93L9 14.02a7 7 0 0 1-.34-2.07c0-1.68.8-2.88 2.08-2.88.88 0 1.53.62 1.53 1.8q0 .57-.22 1.28l-.53 1.73q-.15.5-.15.91c0 1.2.92 1.88 2.09 1.88 2.08 0 3.57-2.16 3.57-4.96 0-3.12-2.04-5.11-5.06-5.11-3.36 0-5.49 2.19-5.49 5.23 0 1.23.38 2.37 1.11 3.15-.24.4-.5.48-.88.48-1.2 0-2.34-1.7-2.34-4 0-3.99 3.2-7.16 7.68-7.16 4.7 0 7.66 3.28 7.66 7.33 0 4.07-2.88 7.13-5.98 7.13a3.8 3.8 0 0 1-3.07-1.47l-.61 2.5c-.33 1.28-.83 2.5-1.62 3.67A12 12 0 0 0 24 11.99 12 12 0 1 0 7.55 23.12"></path></svg></div>
        <h1 class="text-xl text-[#E60023] font-semibold">pinterest</h1>
      </a>
    </div>
    <div class="links-left">
      <a href="#" class="font-semibold mr-5">Today</a>
      <a href="#" class="font-semibold mr-5">Watch</a>
      <a href="#" class="font-semibold mr-5">Explore</a>
    </div>
  </div>
  <div class="right flex items-center gap-4">
    <div class="links-left">
      <a href="#" class="font-semibold mr-5">Today</a>
      <a href="#" class="font-semibold mr-5">Watch</a>
      <a href="#" class="font-semibold mr-5">Explore</a>
    </div>
    <div class="logs">
      <a href="#" class="px-3 py-2 text-lg font-medium tracking-tighter bg-[#E60023] text-white mr-3 rounded-full">Log in</a>
      <a href="#" class="px-3 py-2 text-lg font-medium tracking-tighter bg-[#dadada] text-black  rounded-full">Sign Up</a>
    </div>
  </div>
</nav>
<% } %>