<% include ./partials/headers.ejs %>
<div class="card-box w-full min-h-screen px-2 bg-zinc-400">
    <div class="pin w-60 rounded-2xl h-40 bg-red-300">
        <img class="w-full h-full object-cover" src="" alt="">
    </div>
</div>
<% include ./partials/footer.ejs %>