<% include ./partials/headers.ejs %>
<div id="main" class="w-full h-screen bg-red-300">
  <section class="w-full h-full bg-yellow-200"></section>
  <section class="w-full h-full bg-[#DAFFF6]"></section>
  <section class="w-full h-full bg-[#FFE2EB]"></section>
  <section class="w-full h-full bg-[#FFE2EB] relative">
    <div class="img-bg w-full h-full">
      <img
        src="/images/loginhome.png"
        class="w-full h-full object-cover"
        alt=""
      />
    </div>
    <div
      class="overlay w-full h-full bg-[#00000097] absolute top-0 left-0 z-10"
    ></div>
    <div class="cover w-full h-full flex absolute z-20 top-0 left-0">
      <div class="left w-1/2 h-full flex items-center justify-center">
        <h1 class="text-7xl font-semibold text-white">Sign up to get <br> your ideas</h1>
      </div>
      <div class="right w-1/2 h-full flex items-center justify-center relative">
        <div class="form w-[62%] h-[80%] rounded-[40px] flex-col py-4 flex absolute items-center bg-white">
            <a href="" class="my-5">
                <div class="logo"><svg aria-hidden="true" aria-label="" class="g_1 gUZ U9O kVc text-[#E60023] fill-current" height="35" role="img" viewBox="0 0 24 24" width="35"><path d="M7.55 23.12c-.15-1.36-.04-2.67.25-3.93L9 14.02a7 7 0 0 1-.34-2.07c0-1.68.8-2.88 2.08-2.88.88 0 1.53.62 1.53 1.8q0 .57-.22 1.28l-.53 1.73q-.15.5-.15.91c0 1.2.92 1.88 2.09 1.88 2.08 0 3.57-2.16 3.57-4.96 0-3.12-2.04-5.11-5.06-5.11-3.36 0-5.49 2.19-5.49 5.23 0 1.23.38 2.37 1.11 3.15-.24.4-.5.48-.88.48-1.2 0-2.34-1.7-2.34-4 0-3.99 3.2-7.16 7.68-7.16 4.7 0 7.66 3.28 7.66 7.33 0 4.07-2.88 7.13-5.98 7.13a3.8 3.8 0 0 1-3.07-1.47l-.61 2.5c-.33 1.28-.83 2.5-1.62 3.67A12 12 0 0 0 24 11.99 12 12 0 1 0 7.55 23.12"></path></svg></div>
              </a> 
              <h1 class="text-4xl font-medium text-zinc-800">welcom to pinterest</h1>
              <h1 class="text-base mt-3 font-light text-zinc-800">Find the new ideas to try</h1>
              <form action="/register" method="post">
                <div class="in flex flex-col mt-3 w-72">
                    <label class="font-light text-sm ml-3">Email</label>
                      <input class="bg-transparent p-3 mt-1 border-2 rounded-2xl" type="text" placeholder="Email" name="email">
                    </div>
                    <div class="in flex flex-col mt-3 w-72">
                    <label class="font-light text-sm ml-3">password</label>
                      <input class="bg-transparent p-3 mt-1 border-2 rounded-2xl" type="password" placeholder="password" name="password">
                    </div>
                    <div class="in flex flex-col mt-3 w-72">
                    <label class="font-light text-sm ml-3">Birthday</label>
                      <input class="bg-transparent p-3 mt-1 border-2 rounded-2xl" type="date" placeholder="Birthday" name="date">
                    </div>
                    <div class="in flex flex-col mt-3 w-72">
                      <input class="cursor-pointer p-3 mt-1 rounded-full bg-[#E60023] text-white" type="submit" value="Continue" >
                    </div>
              </form>
              <div class="in flex items-center justify-around mt-7 w-72 p-1 rounded-full border-2">
                <img class="w-10" src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png" alt="">
                <h1>continue with google</h1>
              </div>
              <a href="" class="text-sm mt-5">Alrdy a member? <span class="font-semibold">Log in</span></a>
        </div>
        <div class="login-form hidden w-[62%] h-[80% rounded-[40px] flex-col py-4 flex absolute items-center bg-green-200">
            <a href="" class="my-5">
                <div class="logo"><svg aria-hidden="true" aria-label="" class="g_1 gUZ U9O kVc text-[#E60023] fill-current" height="35" role="img" viewBox="0 0 24 24" width="35"><path d="M7.55 23.12c-.15-1.36-.04-2.67.25-3.93L9 14.02a7 7 0 0 1-.34-2.07c0-1.68.8-2.88 2.08-2.88.88 0 1.53.62 1.53 1.8q0 .57-.22 1.28l-.53 1.73q-.15.5-.15.91c0 1.2.92 1.88 2.09 1.88 2.08 0 3.57-2.16 3.57-4.96 0-3.12-2.04-5.11-5.06-5.11-3.36 0-5.49 2.19-5.49 5.23 0 1.23.38 2.37 1.11 3.15-.24.4-.5.48-.88.48-1.2 0-2.34-1.7-2.34-4 0-3.99 3.2-7.16 7.68-7.16 4.7 0 7.66 3.28 7.66 7.33 0 4.07-2.88 7.13-5.98 7.13a3.8 3.8 0 0 1-3.07-1.47l-.61 2.5c-.33 1.28-.83 2.5-1.62 3.67A12 12 0 0 0 24 11.99 12 12 0 1 0 7.55 23.12"></path></svg></div>
              </a> 
              <h1 class="text-4xl font-medium text-zinc-800">welcom to pinterest</h1>
              <h1 class="text-base mt-3 font-light text-zinc-800">Find the new ideas to try</h1>
              <form action="/register" method="post">
                <div class="in flex flex-col mt-3 w-72">
                    <label class="font-light text-sm ml-3">Email</label>
                      <input class="bg-transparent p-3 mt-1 border-2 rounded-2xl" type="text" placeholder="Email" name="email">
                    </div>
                    <div class="in flex flex-col mt-3 w-72">
                    <label class="font-light text-sm ml-3">password</label>
                      <input class="bg-transparent p-3 mt-1 border-2 rounded-2xl" type="password" placeholder="password" name="password">
                    </div>
                    <a href="">Forgotten your password?</a>
                    <div class="in flex flex-col mt-3 w-72">
                      <input class="cursor-pointer p-3 mt-1 rounded-full bg-[#E60023] text-white" type="submit" value="Log in" >
                    </div>
                </form>
                <h1 class="my-2">or</h1>
              <div class="in flex items-center justify-around w-72 p-2 bg-blue-600 rounded-full border-2">
                <img class="w-7" src="https://www.edigitalagency.com.au/wp-content/uploads/facebook-icon-white-png.png" alt="">
                <h1 class="font-semibold text-white">continue with Facebook</h1>
              </div>
              <div class="in flex items-center justify-around mt-2 w-72 p-1 rounded-full border-2">
                <img class="w-10" src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png" alt="">
                <h1>continue with google</h1>
              </div>
              <a href="" class="text-sm mt-5">Alrdy a member? <span class="font-semibold">Log in</span></a>
        </div>
      </div>
    </div>
  </section>
</div>
<% include ./partials/footer.ejs %>
