<% include ./partials/headers.ejs %>
<div class="creat-box w-full min-h-screen border-t-[1px] border-[#9e9e9edf] flex">
    <div class="left w-[5%] min-h-screen border-r-[1px] border-[#9e9e9edf]">
        <div class="top flex items-center justify-between flex-col border-b-[1px] border-[#9e9e9edf]">
            <div class="arrow my-5">
                <svg id="arr-right" aria-hidden="true" aria-label="" class="Uvi gUZ U9O kVc" height="20" role="img" viewBox="0 0 24 24" width="20"><path d="M4.51524 20.5516L11.9051 13.0822C12.0717 12.9273 12.1904 12.7616 12.2613 12.5852C12.3321 12.4088 12.3676 12.2234 12.3676 12.0288C12.3676 11.8343 12.3321 11.6425 12.2613 11.4535C12.1904 11.2645 12.0717 11.0925 11.9051 10.9375L4.51524 3.4302C4.22096 3.13128 3.87532 2.98813 3.47831 3.00077C3.08127 3.01341 2.73563 3.16919 2.44138 3.46812C2.14713 3.76704 2 4.11818 2 4.52153C2 4.92487 2.14713 5.27601 2.44138 5.57494L8.7943 12.0288L2.44138 18.4827C2.14713 18.7816 2.00351 19.1264 2.01052 19.5172C2.01757 19.9079 2.16118 20.2527 2.44138 20.5516C2.74969 20.8505 3.09884 21 3.48883 21C3.87883 21 4.22096 20.8505 4.51524 20.5516ZM14.1477 20.5516L21.5375 13.0822C21.7041 12.9273 21.8229 12.7616 21.8937 12.5852C21.9646 12.4088 22 12.2234 22 12.0288C22 11.8343 21.9646 11.6425 21.8937 11.4535C21.8229 11.2645 21.7041 11.0925 21.5375 10.9375L14.1477 3.4302C13.8534 3.13128 13.5078 2.98813 13.1108 3.00077C12.7137 3.01341 12.3681 3.16919 12.0738 3.46812C11.7796 3.76704 11.6324 4.11818 11.6324 4.52153C11.6324 4.92487 11.7796 5.27601 12.0738 5.57494L18.4478 12.0288L12.0738 18.4827C11.7796 18.7816 11.636 19.1264 11.643 19.5172C11.65 19.9079 11.7936 20.2527 12.0738 20.5516C12.3822 20.8505 12.7313 21 13.1213 21C13.5113 21 13.8534 20.8505 14.1477 20.5516Z"></path></svg>
                <svg id="arr-left" aria-hidden="true" hidden aria-label="" class="Uvi gUZ U9O kVc" height="20" role="img" viewBox="0 0 24 24" width="20"><path d="M19.4848 20.5516L12.0949 13.0822C11.9283 12.9273 11.8096 12.7616 11.7387 12.5852C11.6679 12.4088 11.6324 12.2234 11.6324 12.0288C11.6324 11.8343 11.6679 11.6425 11.7387 11.4535C11.8096 11.2645 11.9283 11.0925 12.0949 10.9375L19.4848 3.4302C19.779 3.13128 20.1247 2.98813 20.5217 3.00077C20.9187 3.01341 21.2644 3.16919 21.5586 3.46812C21.8529 3.76704 22 4.11818 22 4.52153C22 4.92487 21.8529 5.27601 21.5586 5.57494L15.2057 12.0288L21.5586 18.4827C21.8529 18.7816 21.9965 19.1264 21.9895 19.5172C21.9824 19.9079 21.8388 20.2527 21.5586 20.5516C21.2503 20.8505 20.9012 21 20.5112 21C20.1212 21 19.779 20.8505 19.4848 20.5516ZM9.85231 20.5516L2.46246 13.0822C2.29585 12.9273 2.17712 12.7616 2.10626 12.5852C2.03542 12.4088 2 12.2234 2 12.0288C2 11.8343 2.03542 11.6425 2.10626 11.4535C2.17712 11.2645 2.29585 11.0925 2.46246 10.9375L9.85231 3.4302C10.1466 3.13128 10.4922 2.98813 10.8892 3.00077C11.2863 3.01341 11.6319 3.16919 11.9262 3.46812C12.2204 3.76704 12.3676 4.11818 12.3676 4.52153C12.3676 4.92487 12.2204 5.27601 11.9262 5.57494L5.55217 12.0288L11.9262 18.4827C12.2204 18.7816 12.364 19.1264 12.357 19.5172C12.35 19.9079 12.2064 20.2527 11.9262 20.5516C11.6178 20.8505 11.2687 21 10.8787 21C10.4887 21 10.1466 20.8505 9.85231 20.5516Z"></path></svg>
            </div>
            <div class="pluse my-5"><svg aria-hidden="true" aria-label="" class="Uvi gUZ U9O kVc" height="20" role="img" viewBox="0 0 24 24" width="20"><path d="M22 10h-8V2a2 2 0 0 0-4 0v8H2a2 2 0 0 0 0 4h8v8a2 2 0 0 0 4 0v-8h8a2 2 0 0 0 0-4"></path></svg></div>
        </div>
    </div>
    <div class="right w-[95%] min-h-screen relative">
        <div class="hed w-full h-20 border-b-[1px] border-[#9e9e9edf] flex items-center">
            <h1 class="ml-10 text-2xl tracking-tight">Create Pin</h1>
        </div>
        <div class="creat-cover w-[90%] h-[80%] flex items-center absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 justify-center">
            <div class="create-left w-1/3 h-full bg-red-30 flex flex-col items-center justify-center">
                <a href=""><div class="upload w-80 h-[400px] bg-red-20 bg-gray-200 rounded-2xl border-dashed border-2 border-gray-300"></div></a>
                <div class="line h-[1px] w-80 my-7 bg-gray-400"></div>
                <button class="w-80 p-2 rounded-3xl bg-gray-200 text-xl">save from url</button>
            </div>
            <div class="create-righ w-3/6 h-full">
                <div class="postform py-5">
                    <form action="/creatpost" method="post">
                        <div class="input-box flex flex-col">
                            <label class="block font-thin text-gray-400">Title</label>
                            <input class="block p-3 outline-none border-2 border-gray-200 bg-transparent rounded-xl" type="text" name="title" placeholder="Add a title">
                        </div>
                        <div class="input-box flex flex-col mt-3">
                            <label class="block font-thin text-gray-400">Description</label>
                            <textarea class="block p-3 outline-none resize-none border-2 h-28 border-gray-200 bg-transparent rounded-xl" type="text" name="title" placeholder="Add a detailed Description"></textarea>
                        </div>
                        <div class="input-box flex flex-col mt-10">
                            <label class="block font-thin text-gray-400">LInk</label>
                            <input class="block p-3 outline-none border-2 border-gray-200 bg-transparent rounded-xl" type="text" name="title" placeholder="Add a Link">
                        </div>
                        <div class="input-box flex flex-col mt-3">
                            <label class="block font-thin text-gray-400">Bordes</label>
                            <input class="block p-3 outline-none border-2 border-gray-200 bg-transparent rounded-xl" type="text" name="title" placeholder="Add a Link">
                        </div>
                        <div class="input-box flex flex-col mt-3">
                            <label class="block font-thin text-gray-400">tagged</label>
                            <input class="block p-3 outline-none border-2 border-gray-200 bg-transparent rounded-xl" type="text" name="title" placeholder="Add a Link">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer.ejs %>